.App {
    text-align: center;
  }
  
  .App-logo {
    height: 80px;
    border: 1px solid white;
  }
  
  .App-header {
    background-color: #678FC9;
    height: 220px;
    padding: 20px;
    color: white;
  }
  
  .App-intro {
    font-size: large;
    margin:50px;
  }
  
  .WelcomeText {
    padding-top:10px;
  }
  .loginbutton {
    width:150px;
    height:45px;
    position: relative;
    top:10px;
    left:-28px;
    border-radius: 5px;
    background-color: #678FC9;
    color:white;
    border: 1px solid white;
    transition: all 0.4s;
    text-align: center;
  }
  .loginbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
    
  }
  .loginbutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: -1px;
    right: -40px;
    transition: 0.5s;
  }
  .loginbutton:hover{
    width:151px;
    height:46px;
    border: 1px solid #678FC9;
  }
  .loginbutton:hover span {

  }
  .loginbutton:hover span:after {
    opacity: 1;
    right: -20px;
  }
  .SigninLink{
    color:#678FC9;
  }
  .WrongPass{
    margin: 2%;
    border-radius: 5px;
    transition: 1s;
    border: 1px solid red;
    text-align: center;
    color:red;
    display:none;
  }