Button{
    margin-top:20px;
    margin-left:50px;
}
.IntDivStyle2{
position:relative;
left:5%;
color: #678FC9;
text-align: right;
}
.Block{
    margin:10px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
}
.Block2{
    margin:10px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    display: inline-flex;
}
.Block3{
    margin:10px;
    padding-left: 20px;
    border-radius: 20px;
    display: flex;
    /* border: 1px solid black; */
}
.EmptySpace{
    padding-left: 20px;
}
.verticallyCentered{
    display: flex;
  justify-content: center;
  align-items: center;
}
.DialogTitle{
    position:relative;
left:7%;
    text-align: center;
    padding-top: 32px;
    margin-bottom: -40px;
    color: #678FC9;
}