.Input{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
   position: relative;
   left: -40px;
   display:inline-block;
}

.Label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 8px;
    padding-right: 15px;
    color:#678FC9;
}

.InputElement {
    border-radius: 5px;
    outline: none;
    border:1px solid black;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline:none;
    background-color: white;
    border:1px solid #3B69D9;
}