.navbar-default {
    background-color:#678FC9;
    background-image: none;
    background-repeat: no-repeat;
   }

.App-logo-navbar {
    height: 33px;
    border: 1px solid white;
  }
  .App-logo-navbar:hover {
    cursor: pointer;
  }
.navElem {
    position: relative;
    top: 4px;
    color:white;
}
.navElem:hover{
    color: rgb(161, 199, 255);
}