.intentElemP{
  white-space: nowrap;
  overflow: hidden;
  
  text-overflow: ellipsis; 
}
.intentElem{
    position:relative;
    left:4.5%;
   padding-top: 1%;
}
.IntentElemLi{
    list-style-type: none;
    transition: all 1s;
    border-radius: 25px;
    width:70%;
    
}
.IntentElemLi:hover{
    background-color: rgb(161, 199, 255);
}
.intentElemA{
    color:black;
    text-decoration: none; 
}
