.DialogInput{
    width: 100%;
}
.DialogReposition{
    position: relative;
    left:25%;
}
.goABitLeft{
    position: relative;
    left:-2%;
    /* color: rgb(255, 157, 173) */
}
/* .customInputField{
    position: relative;
    top: 12px;
    width:100%;
    left:-5px;
} */