.cStyle{
display: inline-block;
    position: relative;
    margin-top: 3%;
    left: 34%;
    margin-left: auto;
    margin-right: auto;
}
.modul{
    border: 1px solid rgb(161, 199, 255);
    display: inline-block;
    margin:12px;
    transition: 1s;
    border-radius: 10px;
    height:80px;
    padding-top: 1%;
    padding-bottom: 3%;
    text-align: center;
    position: relative;
    left:-2.8%;
}
.modul:hover{
    background-color: rgb(161, 199, 255);
    color: #3B69D9;
    cursor: pointer;
}
.createModul{
    border: 1px solid rgb(161, 199, 255);
    background-color: rgb(223, 235, 253);
    display: inline-block;
    margin:12px;
    transition: 1s;
    border-radius: 10px;
    height:80px;
    padding-top: 1%;
    padding-bottom: 3%;
    text-align: center;
    position: relative;
    left:-2.8%;
}
.createModul:hover{
    background-color: rgb(161, 199, 255);
    color: #3B69D9;
    cursor: pointer;
}
.modulTitel{
    display: inline-block;
    transition: 1s;
    margin-top:5px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    left:-2.8%;
}
